* {
  text-decoration: none;
  list-style-type: none;
  font-family: Roboto;
  padding: 0;
  margin: 0;
  border: 0;
}

.content-1 {
  background-color: #1f2937;
  padding: 25px 300px 100px 300px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.header-links,
.hero-second-text {
  font-size: 18px;
  color: #e5e7eb;
}

.header-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  gap: 10px;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.sign-up-button {
  background-color: #3882f6;
  color: #f9faf8;
  width: fit-content;
  font-weight: bold;
  padding: 5px 30px 5px 30px;
  border-radius: 15px;
}

.hero-img {
  max-width: 800px;
  max-height: 225px;
}

.content-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 50px;
}

.random {
  display: flex;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 25px;
}

.random-container {
  display: flex;
  gap: 35px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 200px;
}

.random-container img {
  max-width: 200px;
}

.random-container div {
  text-wrap: wrap;
}

.content-3 {
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
}

.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}
